.footer {
    height: 95vh;
    width: 150%;
    display: flex;
    align-items: center;
}

.footer-background {
    height: 110%;
    width: 100%;
    background: #1E1844;
    position: relative;
    left: -50px;
    top: 100px;
    transform: rotate(4deg);
}

.footer-section {
    position: absolute;
    left: 17.5%;
    z-index: 1;
    height: 60%;
    width: 65%;
    top: 640%;
}

.upper-footer {
    height: 55%;
    width: 100%;
    display: flex;
}

.middle-footer {
    border-top: solid white 2px;
    border-bottom: solid white 2px;
    height: 17%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.middle-footer > h1 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
}

.contact-info {
    display: flex;
    color: white;
    width: 27%;
    justify-content: space-between;
    align-items: center;
}

.contact-info > h1 {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

.social-links {
    background: white;
    width: 20%;
    height: 100%;
}

.footer-info {
    /* border: white solid 1px; */
    width: 25%;
    height: 100%;
}

.footer-info > h1 {
    color: white;
    font-family: arial;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

.footer-info > ul {
    display: flex;
    flex-direction: column;
    height: 70%;
    justify-content: space-evenly;
}

.footer-info > ul > li {
    color: white;
    font-family: arial;
    letter-spacing: 1px;
}

.white-line {
    background: white;
    width: 90%;
    height: 1px;
    margin-bottom: 10px;
}

.lower-footer {
    /* background: white; */
    height: 30%;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lower-footer > img {
    width: 300px;
    margin-bottom: 5px;
}

.lower-footer > h3 {
    font-family: arial;
    font-size: 9px;
    color:white;
    margin-top: 50px;
}

.terms {
    display: flex;
    width: 15%;
    justify-content: space-around;
    align-items: center;
    font-family: arial;
    font-size: 16px;
    color: white;
}
